#calendermonthfull {
  padding: 0;
}
#calendermonthfull:hover {
  transform: scale(1.2);
}
#container {
  height: 660px;
  width: 1270px;
  display: flex;
  padding: 5vh 15vw 0 14vw;
}
@keyframes shrink {
  0% {
  }
  90% {
  }
  100% {
  }
}
#fullcalender {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  height: 80vh;
  width: 100vw;
  padding-top: 5vh;
}
.gridmonthfull {
  align-content: center;
  height: 100px;
  max-width: 178px;
}
#weekfull1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
}

#weekfull2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
}
#weekfull3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
}
#weekfull4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
}

div[id^="weekfull"] {
  border: 0.1px solid rgb(37, 39, 37);
  height: 30px;
  max-width: 190px;
  min-width: 154px;
  margin: 0;
  padding: 0;
}
div[id^="weekfull"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}
.dayfull {
  border: 1px solid;
  height: 30px;
  width: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 6px;
  color: rgb(37, 39, 37);
  margin: 0;
  padding: 0;
  display: inline-block;
}
.dayfull:hover {
  border: 1px rgb(37, 39, 37) solid;
  transform: scale(1.3);
  background-color: rgb(255, 255, 0);
}

body {
  background-color: whitesmoke;
}

div {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(37, 39, 37);
}
h1 {
  grid-row: 1;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 0 0;
  color: rgb(37, 39, 37);
  margin: 0;
}
p {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: rgb(37, 39, 37);
}

p:hover {
  color: yellow;
}

a {
  grid-row: 1;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  padding: 0 0 0 0;
  color: rgb(37, 39, 37);
  text-decoration: none;
}
