body {
  background-color: whitesmoke;
}
.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 15% repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gridmonth {
  align-content: center;
  height: 100vh;
  max-width: 100vw;
  grid-row: 3 / span 1;
  grid-column: 2 / span 6;
  transition-timing-function: ease;
}
.gridmonthnov {
  align-content: center;
  height: 100vh;
  max-width: 100vw;
  grid-row: 3 / span 1;
  grid-column: 2 / span 6;
  transition-timing-function: ease;
  animation: move 1.255s;
}
@keyframes move {
  0% {
    transform: translate(0, 680px);
  }
  90% {
    transform: translate(0, 680px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.gridmonthweek {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.soloweek {
  grid-row: 2;
  grid-column: 3 / span 6;
}

#week1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#individualweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}

#week2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#week3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#week4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px;
  border: 1px;
}
#week5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px;
  border: 1px;
}
#week6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px;
  border: 1px;
}
div[id^="week"] {
  height: 150px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="week"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

div[id^="individual"] {
  height: 200px;
  border: 1px;
  width: 1200px;
}
div[id^="individual"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}
.day {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 150px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.dayweek {
  display: inline-block;
  border: 2px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 200px;
  font-family: Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.day:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 155px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
.dayweek:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 205px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
a {
  color: rgb(37, 39, 37);
  text-decoration: none;
}
div {
  font-family: Helvetica, sans-serif;
  font-size: 26px;
  color: rgb(37, 39, 37);
}
h1 {
  grid-row: 1 / span 9;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 0 0;
  color: rgb(37, 39, 37);
}
p {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: rgb(37, 39, 37);
}

p:hover {
  color: yellow;
}
#sundaylist {
  max-height: 100vh;
  height: 100vh;
}
#mondaylist {
  max-height: 100vh;
  height: 100vh;
}
#tuesdaylist {
  max-height: 100vh;
  height: 100vh;
}
#wednesdaylist {
  max-height: 100vh;
  height: 100vh;
}
#thursdaylist {
  max-height: 100vh;
  height: 100vh;
}
#fridaylist {
  max-height: 100vh;
  height: 100vh;
}
#saturdaylist {
  max-height: 100vh;
  height: 100vh;
}
#left {
  padding: 0px 20px 50px 40px;
  max-height: 92vh;
  height: 92vh;
  overflow-y: scroll;
  line-height: 0.25;
  width: 60vw;
  float: left;
  position: relative;
  box-sizing: border-box;
}
#whitecolumn {
  float: left;
  position: relative;
  overflow: auto;
  width: 40vw;
}
iframe {
  width: 100%;
  height: 100%;
  z-index: 0;
}

#calenderlink {
  position: absolute;
  width: 1200px;
  height: 700px;
  display: inline-block;
  z-index: 5;
}
#calendermonth:hover {
  transform: scale(1.3);
}

#calendermonth {
  width: 1200px;
  height: 700px;
  position: relative;
}

#header {
  z-index: 5;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  display: block;
  animation: big 1.255s;
}
@keyframes big {
  0% {
    font-size: 140px;
    grid-column: 1 / span 7;
  }
  90% {
    font-size: 140px;
    grid-column: 1 / span 7;
  }
  100% {
    font-size: 60px;
    grid-column: 1 / span 7;
  }
}
h2 {
  grid-column: 1 / span 1;
  grid-row: 3;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 0 0;
  color: rgb(37, 39, 37);
  margin: 0;
}
#janweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#janweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#janweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#janweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#janweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#janweek6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
div[id^="janweek"] {
  height: 100px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="janweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.dayjan {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.dayjan:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 105px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}

div[id^="febweek"] {
  height: 120px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="febweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.dayfeb {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.dayfeb:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 125px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
#febweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#febweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#febweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#febweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#febweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
div[id^="marweek"] {
  height: 120px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="marweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.daymar {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.daymar:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 125px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
#marweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#marweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#marweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#marweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#marweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
div[id^="aprweek"] {
  height: 120px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="aprweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.dayapr {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.dayapr:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 125px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
#aprweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#aprweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#aprweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#aprweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#aprweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
div[id^="mayweek"] {
  height: 120px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="mayweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.daymay {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.daymay:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 125px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
#mayweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#mayweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#mayweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#mayweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#mayweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
div[id^="junweek"] {
  height: 120px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="junweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.dayjun {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.dayjun:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 125px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
#junweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#junweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#junweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#junweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#junweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
div[id^="julweek"] {
  height: 120px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="julweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.dayjul {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.dayjul:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 125px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
#julweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#julweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#julweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#julweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#julweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
div[id^="augweek"] {
  height: 120px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="augweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.dayaug {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.dayaug:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 125px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
#augweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#augweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#augweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#augweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#augweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
div[id^="septweek"] {
  height: 120px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="septweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.daysept {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  septgin-right: 1px;
  color: rgb(37, 39, 37);
}
.daysept:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 125px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
#septweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#septweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#septweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#septweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#septweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#octweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#octweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#octweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#octweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#octweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#octweek6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
div[id^="octweek"] {
  height: 100px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="octweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.dayoct {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.dayoct:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 105px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
div[id^="novweek"] {
  height: 120px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="novweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.daynov {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.daynov:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 125px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
#novweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#novweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#novweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#novweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#novweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
div[id^="decweek"] {
  height: 120px;
  border: 1px;
  max-width: 937px;
  min-width: 800px;
  font-size: 26px;
}
div[id^="decweek"]:hover {
  background-color: rgba(0, 255, 0, 0.671);
}

.daydec {
  display: inline-block;
  border: 1px solid;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 1px;
  color: rgb(37, 39, 37);
}
.daydec:hover {
  border: 1px rgb(37, 39, 37) solid;
  height: 125px;
  background-color: rgb(255, 255, 0);
  transform: scale(1.1);
}
#decweek1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#decweek2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr;
  border: 1px;
}
#decweek3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#decweek4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
#decweek5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 17px 1fr;
  border: 1px;
}
